<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Twitch chat renderer">
	<link rel="stylesheet" href="https://unpkg.com/98.css" />
    <link rel="stylesheet" type="text/css" href="textbox.css">
    <!-- development version, includes helpful console warnings -->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="/static/common/sounds.js"></script>
	<script src="/static/common/views.js"></script>
	<script src="/static/common/config.js"></script>
	<script> var scale_factor = 2; </script>
</head>
<body>
<div id="app" client="chat">
	<sound-handler ref="soundhandler" v-bind:tts="config.tts"></sound-handler>
	<div class="menu window">
		<div class="title-bar">
			<div class="title-bar-text">Menu</div>
			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>
		</div>
		<div class="window-body">
			<form method="GET">
				<label for="menu_channel">Channel</label>
				<input v-model="channel" id="menu_channel" name="channel"/>
				<input type="submit"/>
			</form>
			<view-select></view-select>
			<config-menu v-on:cfg-update="updateCfg($event)"></config-menu>
		</div>
	</div>

	<div class="chat window">
		<div class="title-bar">
			<div class="title-bar-text">Ashnasbot</div>
			<div class="title-bar-controls">
				<button aria-label="Minimize"></button>
				<button aria-label="Maximize"></button>
				<button aria-label="Close"></button>
			</div>
		</div>
		<div class="window-body">
			<ul id="chat" class="tree-view">
			<li v-for="msg in chat" v-bind:key="msg.id" v-bind:id="msg.id">
				<div v-bind:class="msg.type" >
					<div v-if="msg.type != 'TWITCHCHATMESSAGE'" class="alert" v-html="msg.tags['system-msg']"></div>
					<template v-if="msg.message">
						<span v-if="msg.badges" class="badges">
							<span v-for="badge in msg.badges" v-html="badge"></span>
						</span>
						<span class="nickname" v-html="msg.nickname" v-bind:style="{ color: msg.tags[&quot;color&quot;]}" v-bind:class="msg.extra"></span>
						<span v-if="msg.extra && msg.extra.includes(&quot;quoted&quot;)" class="message" 
							v-html="msg.message"></span>
						<span v-else v-bind:class="msg.extra"v-bind:style="{ color: msg.tags[&quot;color&quot;] }" class="message"
							v-html="msg.message"></span>
					</template>
				</div>
			</li>
			</ul>
			<input id="text-entry" type="text" />
		</div>
	</div>



	</div>
</div>
<script src="/static/common/handlers.js"></script>
</body>
</html>

