@charset "utf-8";
@font-face {
  font-family: 'lttp';
  src: url('lttp.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}

[v-cloak] { display: none; }

#app {
  height: 100vh;
  font-size: 16px;
  box-sizing: border-box;
  color: #eee;
}

a {
  color: #9146FF;
}

.frame {
  border-style: solid;
  border-image-source: url(border.png);
  border-image-width: 16px;
  border-width: 16px;
  border-image-slice: 16;
  border-image-repeat: stretch;

  padding: 8px;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;

  height: 100%;
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  max-height: 110%;
  padding: 0;
  margin: 0;
  padding-right: 1ex;
}

.chat_window li {
  display: block;
}

.chat_window div {
  font-weight: normal;
  margin: 0;
  word-break: break-word;
  font-family: 'lttp', sans-serif;
  color: white;
  text-shadow:
   -2px -2px 0 #000073,  
    2px -2px 0 #000073,
    -2px 2px 0 #000073,
     2px 2px 0 #000073;
}

/*
.message, .nickname, .alert, .popout, .SUB .message, label {
  color: #AECACE;
  text-stroke: 1px #000073;
  text-fill-color: white;
}

.SUB .alert {
  color: #c60506;
}
*/

.message .emote{
  border: 0;
  display: inline;
  vertical-align: middle;
  margin: -0.1em;
  height: 1em; /* Ignore this warning */
}

.nickname::after {
  content: ": ";
}

.chat_window span {
  display: inline;
}

body {
  background-color: rgba(0, 0, 0);
  margin:0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  opacity: 0;
  position: absolute;
  background-color: #000;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

.menu .popout span {
  display: block;
}