@font-face {
  font-family: 'FFTA';
  src: url("Final Fantasy Tactics Advance.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Minecraft';
  src: url('Minecraft.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  size-adjust: 40%;
}

#app {
  font-family: "FFTA", "Minecraft";
}

#chat {
  overflow: hidden;
}

.chat_window div {
  margin: 0;
}

body {
  background-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0);
  color: #210;
  font-size: 48px;
}

.menu {
  background-color: #e0e0c0;
  border: 1px solid transparent;
  padding: 0;
  width: calc(100% - 2px);
  line-height: 0.7em;
}

.menu .popout  fieldset{
  background-color: #e0e0c0;
  padding: 1ex;
}

.menu .popout span, .menu .popout label {
  display: block;
  float: right;
}

.menu .popout input {
  float: left;
  clear: both;
}

.chat_window ol {
  height: 100%;
}

.chat_window li .badges * {
  height: 0.7em;
  margin-left: 1px;
}

.chat_window li {
  margin: 8px;
  padding: 1px 4px 1px 1px;
  overflow: visible;

  border: solid 22px;
  border-radius: 0 52px 52px 0;
  border-image: url(border.png);
  border-image-slice: 52;
  border-image-width: 52px;
  border-image-outset: 4px;
  background-color: #e0e0c0;
  text-shadow: 1px 1px 0 #d0c890;
}

.chat_window li > div {
  margin: -20px;
  overflow: visible;
}

img.emote {
  height: 0.7em;
}

.clip img {
    height: 6em;
}

.nickname {
  font-weight: 600;
}

.nickname::after {
  content: ": ";
}

/* Animation magic */

.slide-fade-move,
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: transform 0.25s;
}
.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(-100%);
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  position: absolute;
  width: 100%;
}