@font-face {
  font-family: 'manaspace';
  src: url('manaspc.woff2') format('woff2'),
       url('manaspc.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

[v-cloak] { display: none; }

#app {
  height: 100vh;
  font-size: 16px;
}

a {
  color: #9146FF;
}

div.chat_window {
  padding-top: 0px;
  overflow: hidden;
  box-sizing: border-box;

  height: 100%;
  max-height: 110%;

  font-weight: normal;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.chat_window ol {
  margin: 0;
  padding: 0;
  width: 100%;
}

.chat_window li > div {
  display: table;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  padding: 0.2em 0 0.1625em;
  margin: 0;
  image-rendering: pixelated;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  background:url(
    data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAICAYAAADeM14FAAAAJElEQVQYV2NkVvb/z8DAwPD37kZGEM1IhgBIHwjAtIINIk0AACWVFdnTbUoAAAAAAElFTkSuQmCC
  ) repeat;
  background-size: 8px;
  background-clip: padding-box;

  border-style: solid;
  border-image-source: url(border.png);
  border-image-width: 24px;
  border-width: 16px 22px;
  border-image-slice: 16;
  border-image-repeat: repeat;
  border-radius: 16px;
  line-height: 30px;
  word-spacing: -6px;
}

.nickname::after {
  content: ":";
}

.chat_window span {
  display: inline;
}

body {
  background-color: rgba(0, 0, 0);
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.menu {
  position: absolute;
  background-color: #000;
  opacity: 0;
}

div.menu:focus-within, div.menu:hover {
  opacity: 1 !important;
}

.menu .popout span {
  display: block;
}

div, span, label {
  color: #fff;
  text-shadow: 1px 1px 0 #000,
    -1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    0px 1px 0 #000,
    0px -1px 0 #000,
    -1px 0px 0 #000,
    1px 0px 0 #000,
    2px 2px 0 #000,
    -2px 2px 0 #000,
    2px -2px 0 #000,
    -2px -2px 0 #000,
    0px 2px 0 #000,
    0px -2px 0 #000,
    -2px 0px 0 #000,
    2px 0px 0 #000,
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
  
  font-family: manaspace;
  font-size: 32px;
  font-weight: normal;
}

img.emote {
  display: inline-block;
  image-rendering: auto;
  vertical-align: bottom;
  height: 1em;
}

input[type="checkbox"] {
    transform: scale(2);
    margin: 0 1em 0 1ex;
    display: inline-block;
}